{%- comment -%}Alejandro Custom modfication: Add a products variable for applying reverse filter{%- endcomment -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign products = collection.products | reverse -%}
{%- assign max_products = section.settings.product_rows_int | times: section.settings.products_per_row_int -%}  

{%- comment -%}Alejandr Custom Modfication: Adding a customazible sub-heading and extra spacing{%- endcomment -%}
<div class="spaced-section" data-section-type="featured-collection">
  <div class="container section-content">
    {%- if section.settings.title != blank -%}
      <h2 class="section-heading align-center  {%- if section.settings.mycustom_sub_title != blank -%} {{ 'mb-1' | prepend: ' ' }} {%- endif -%}" data-cc-animate>
        {{ section.settings.title | link_to: collection.url }}
      </h2>
      {%- if  section.settings.mycustom_sub_title  -%}
        <h3 class="mycustom-feautured_collection-sub_title-font">{{ section.settings.mycustom_sub_title | link_to: collection.url }}</h3>
      {%- endif -%}
    {%- endif -%}

    <div class="grid grid--row-gutters product-list">
      {%- unless section.settings.collection == blank -%}
        {%- liquid
          if settings.prod_card_image_ratio == 'shortest'
            assign aspect_ratio = 0
            for product in collection.products limit: max_products
              if product.featured_media.preview_image.aspect_ratio > aspect_ratio
                assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
              endif
            endfor
          elsif settings.prod_card_image_ratio == 'tallest'
            assign aspect_ratio = 99
            for product in collection.products limit: max_products
              if product.featured_media.preview_image.aspect_ratio < aspect_ratio
                assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
              endif
            endfor
          else
            assign aspect_ratio = settings.prod_card_image_ratio
          endif
        -%}
        {%- comment -%}Alejandro Custom modfication: Add a classes for product-card and sub-headings fonts{%- endcomment -%}
        {%- style -%}
        
           .mycustom-feautured_collection-sub_title-font {
            font-family: {{settings.mycustom_sub_heading_font}}!important;
            color: {{section.settings.mycustom_sub_title_font_color}}!important;
            font-size: {{section.settings.mycustom_sub_title_font_size}}rem !important;
          }
        
           .mycustom-feautured_collection-product_card_title-font {
            font-family: inherit !important;
            color: {{section.settings.mycustom_product_title_font_color}}!important;
            font-size: {{section.settings.mycustom_product_title_font_size}}rem !important;
            {%- if section.settings.mycustom_product_title_font_weight -%}
              font-weight: bold !important;
            {%- endif -%}
          }
        
        {%- endstyle -%}
        {%- for product in products limit: max_products -%}
          {%- comment -%}Alejandr Custom Modfication: Modifying aligments and font size{%- endcomment -%}
          {% render 'product-card',
            product: product,
            aspect_ratio: aspect_ratio,
            grid_show_vendor: section.settings.grid_show_vendor,
            items_per_row: section.settings.products_per_row_int,
            animate: forloop.index,
            product_card_title_alignment: section.settings.mycustom_product_title_alignment,
            product_card_title_font_parameters: true,
            product_card_price_alignment: section.settings.mycustom_product_price_alignment
          %}
        {%- endfor -%}
      {%- else -%}
        {%- for product in (1..max_products) -%}
          {% render 'onboarding-card',
            aspect_ratio: aspect_ratio,
            items_per_row: section.settings.products_per_row_int,
            is_product: true
          %}
        {%- endfor -%}
      {%- endunless -%}
    </div>

    {%- if section.settings.show_view_all -%}
      <div class="section-footer align-center" data-cc-animate data-cc-animate-delay="0.2s">
        <a class="button button--alt" href="{{ collection.url }}">{{ 'collections.general.view_all' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>
{%- comment -%}Alejandro Custom modification: Adding several custom modifications settings{%- endcomment -%}
{% schema %}

{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    }, {
      "type": "text",
      "id": "mycustom_sub_title",
      "label": "Sub-Heading",
      "default": "My awsome featured collection "
    }, {
      "type": "range",
      "id": "mycustom_sub_title_font_size",
      "label": "Sub-heading size",
      "unit": "rem",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "default": 1
    }, {
      "type": "color",
      "id": "mycustom_sub_title_font_color",
      "label": "Sub-heading color",
      "default": "#D79E93"
    }, {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }, {
      "type": "checkbox",
      "id": "grid_show_vendor",
      "label": "Show product vendor",
      "default": false
    }, {
      "type": "range",
      "id": "products_per_row_int",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Products per row",
      "default": 4
    }, {
      "type": "range",
      "id": "product_rows_int",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Rows",
      "default": 1
    }, {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' link",
      "default": false
    }, 
    {
     "type": "header",
     "content": "Title positioning"
    },
    {
      "type": "select",
      "id": "mycustom_product_title_alignment",
      "label": "Product card title position",
      "options": [
        {
          "value": "start",
          "label": "Rigth"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "end",
          "label": "Left"
        }
      ],
      "default": "start"
    }, {
      "type": "checkbox",
      "id": "mycustom_product_title_font_weight",
      "label": "Bold",
      "default": false
    }, {
      "type": "range",
      "id": "mycustom_product_title_font_size",
      "label": "Title size",
      "unit": "rem",
      "min": 0.5,
      "max": 10,
      "step": 0.1,
      "default": 1
    }, {
      "type": "color",
      "id": "mycustom_product_title_font_color",
      "label": "Title color",
      "default": "#D79E93"
    }, {
      "type": "select",
      "id": "mycustom_product_price_alignment",
      "label": "Product card price position",
      "options": [
        {
          "value": "start",
          "label": "Rigth"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "end",
          "label": "Left"
        }
      ],
      "default": "start"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}

{% endschema %}
