{%- comment -%}{%- endcomment -%}
{%-liquid

  assign mycustom_shop_name =  section.settings.mycustom_copyright_text
  assign mycustom_payment_methods = "visa,master,american_express,paypal,diners_club,discover" | split: ','

-%}

{%- comment -%}{%- endcomment -%}
{% style %}

#pagefooter .mycustom-footer-heading-font {
  font-family: {{ settings.type_heading_font }} !important;
  font-size: {{ section.settings.mycustom_heading_font_size }}rem !important;
  letter-spacing: normal !important;
}

#pagefooter .mycustom-footer-link-font > a {
  color: {{ section.settings.mycustom_link_font_color }} !important;
  font-size: {{ section.settings.mycustom_link_font_size }} !important;
  {%- if section.settings.mycustom_link_font_weight -%}
    font-weight: bold !important;
  {%- endif -%}
}

#pagefooter .mycustom-footer-copyryght-font {
  font-family: {{ section.settings.mycustom_copyright_font }} !important;
  font-size: {{ section.settings.mycustom_copyright_font_size }}rem !important;
}

{% endstyle %}

<footer id="pagefooter" class="pagefooter" data-section-type="footer">
  
  {%- if section.settings.show_newsletter -%}
    <div class="signup-section{% if section.blocks.size == 0 and section.settings.show_country_selector == blank and section.settings.show_language_selector == blank and section.settings.show_social == blank %} no-border-bottom{% endif %}">
      <div class="container">
        {% form 'customer', id: 'footer-signup-form' %}
          <input type="hidden" name="contact[tags]" value="prospect,newsletter">
          <div class="signup-icon">
            {% render 'svg-email' %}
          </div>
          <h2 class="h3">{{ section.settings.newsletter_heading }}</h2>
          <div class="input-with-button">
            <div class="input-with-button__input-wrapper">
              <input class="input-with-button__input input"
                     type="email"
                     name="contact[email]"
                     value=""
                     placeholder="{{ 'layout.signup.email' | t }}"
                     aria-label="{{ 'layout.signup.email' | t | escape }}"
                     required>
            </div>
            <button class="input-with-button__button button" type="submit">{{ 'layout.signup.button' | t }}</button>
          </div>

          {%- if section.settings.newsletter_text != blank -%}
            <div class="rte">
              {{ section.settings.newsletter_text }}
            </div>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="container p-5">
      <div class="footer-columns footer-columns--count-{{ section.blocks.size }}">
        {%- for block in section.blocks -%}
          <div class="footer-columns__column 
          {%- if block.type == 'image'  -%} {{ 'mx-5' | prepend: ' ' }} {%- endif -%}
          {%- if block.type != 'image'  -%} {{ 'mx-0 px-0' | prepend: ' ' }} {%- endif -%}
          " {{ block.shopify_attributes }}>
            {%- if block.settings.heading -%}
              <h2 class="footer-column-heading  mycustom-footer-heading-font">{{ block.settings.heading | escape }}</h2>
            {%- endif -%}

            {%- if block.type == 'link_list' -%}
              <ul class="footer-nav-links">
                {%- for link in block.settings.menu.links -%}
                  <li class="footer-nav-links__item mycustom-footer-link-font"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%- endfor -%}
              </ul>
            {%- elsif block.type == 'text' -%}
              <div class="rte">
                {{ block.settings.text }}
              </div>
            {%- elsif block.type == 'image' -%}
              <img src="{{ block.settings.logo_image | image_url: width: 295 }}" alt="{{ block.settings.logo_image.alt }}" srcset="">
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  {%- liquid
    if section.settings.show_country_selector and localization.available_countries.size > 1
      assign show_country_selector = true
    else
      assign show_country_selector = false
    endif

    if section.settings.show_language_selector and localization.available_languages.size > 1
      assign show_language_selector = true
    else
      assign show_language_selector = false
    endif
  -%}

  {%- if show_country_selector or show_language_selector or section.settings.show_social -%}
    <div class="lower-footer no-border-top no-js-hidden">
      <div class="container">
        {%- if show_country_selector or show_language_selector -%}
          <div class="lower-footer__left">
            <div class="store-localization">
              {% render 'localization', input_prefix: 'footer' %}
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.show_social -%}
          <div class="{% if show_country_selector == false and show_language_selector == false %}lower-footer__full{% else %}lower-footer__right{% endif %}">
            {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x44' %}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="lower-footer no-border-top lower-footer--lowest">
    <div class="container d-flex flex-column">
      <div class="">
        <div class="copyright">
          {%- if section.settings.mycustom_copyright_text != blank -%}
            <span class="seg mycustom-footer-copyryght-font">
              {{ section.settings.mycustom_copyright_text | escape }}
            </span>
          {%- else -%}
            <span class="seg mycustom-footer-copyryght-font">
              Copyright {{ "now" | date: "%Y" }} {{ shop.name }}
            </span>
          {%- endif -%}
        </div>
      </div>

      {%- if section.settings.show_payment_icons -%}
        <div class="payment-methods">
          <div class="payment-methods__inner">
            {%- comment -%}{%- endcomment -%}
            {%- for type in mycustom_payment_methods -%}
              {{ type | payment_type_svg_tag: class: 'payment-icon' }}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

</footer>

{%- comment -%}{%- endcomment -%}
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter sign-up",
        "default": false
      },
      {
        "type": "text",
        "id": "newsletter_heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Text",
        "default": "<p>A short sentence describing what someone will receive by subscribing<\/p>"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Footer links"
      },
      {
        "type": "range",
        "id": "mycustom_heading_font_size",
        "label": "Heading size",
        "unit": "rem",
        "min": 0.1,
        "max": 10,
        "step": 0.1,
        "default": 2
      },
      {
        "type": "range",
        "id": "mycustom_link_font_size",
        "label": "Links size",
        "unit": "rem",
        "min": 0.1,
        "max": 10,
        "step": 0.1,
        "default": 1
      },
      {
        "type": "color",
        "id": "mycustom_link_font_color",
        "label": "Links color",
        "default": "#D79E93"
      },
      {
        "type": "checkbox",
        "id": "mycustom_link_font_weight",
        "label": "Bold links",
        "default": false
      },
      {
        "type": "header",
        "content": "Copyright customization"
      },
      {
        "type": "text",
        "id": "mycustom_copyright_text",
        "label": "Copyright text"
      },
      {
        "type": "font_picker",
        "id": "mycustom_copyright_font",
        "label": "Font",
       "default": "lato_n4"
      },
      {
        "type": "range",
        "id": "mycustom_copyright_font_size",
        "label": "Font size",
        "unit": "rem",
        "min": 0.1,
        "max": 10,
        "step": 0.1,
        "default": 1
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Payment Methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/Region Selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Show country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Show language selector",
        "default": true
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Footer links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items",
            "default": "footer"
          }
        ]
      },
      {
        "type": "image",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Log image"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text area",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
