{%- comment -%}{%- endcomment -%}
{% style %}

#{{ section.id }} .mycustom-insta_feed-heading-font {
  font-size: {{section.settings.heading_size}}rem !important;
}

#{{ section.id }} .mycustom-insta_feed-sub_heading-font {
  font-family: {{settings.mycustom_sub_heading_font}}!important;
  color: {{section.settings.mycustom_sub_heading_font_color}}!important;
  font-size: {{section.settings.mycustom_sub_heading_font_size}}rem !important;
}

#insta-feed {
  width: {{section.settings.feed_width}}%;
}

#insta-feed a > div {
  height: 50% !important;
}

{% endstyle %}

{%- comment -%}{%- endcomment -%}
<section id="{{ section.id }}">
  {%- if section.settings.mycustom_heading != blank -%}
    <h2 class="align-center mycustom-insta_feed-heading-font {%- if section.settings.mycustom_sub_heading != blank -%} {{ 'mb-1' | prepend: ' ' }} {%- endif -%}">
      {{ section.settings.mycustom_heading | escape }}
    </h2>
    {%- if section.settings.mycustom_sub_heading != blank -%}
      <h3 class="align-center mycustom-insta_feed-sub_heading-font">
        {{ section.settings.mycustom_sub_heading | escape }}
      </h3>
    {%- endif -%}
  {%- endif -%}
  <div class="">
    <div id="insta-feed"></div>
  </div>
</section>


{% schema %}
{
  "name":"Instafeed App",
  "settings": [
    {
      "type":"range",
      "id":"feed_width",
      "min":50,
      "max":100,
      "step":5,
      "unit":"%",
      "label":"Feed Width",
      "default":100
    },
    {
      "type": "text",
      "id": "mycustom_heading",
      "label": "Heading",
      "default": "Insta - Feed"
    },
    {
      "type":"range",
      "id":"heading_size",
      "min":0,
      "max":10,
      "step":0.1,
      "unit":"rem",
      "label":"Heading Size",
      "default":3
    },
    {
      "type": "text",
      "id": "mycustom_sub_heading",
      "label": "Sub-Heading",
      "default": "Yor awsome insta-feed"
    },
    {
      "type": "range",
      "id": "mycustom_sub_heading_font_size",
      "label": "Sub-heading size",
      "unit": "rem",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "default": 2
    },
    {
      "type": "color",
      "id": "mycustom_sub_heading_font_color",
      "label": "Sub-heaidng color",
      "default": "#EAAE86"
    }
  ],
  "presets": [
    {
      "category": "Instafeed App",
      "name":"Instagram Feed"
    }
  ]
}
{% endschema %}